extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.my-3 
        .row
            .col-6
                +box-head("Thông tin tài khoản")
        
        .row
            .col-12 
                .card.mb-4 
                    .card-header Thông tin tài khoản
                    .card-body 
                        if(user.avatar)
                            div(class="mb-4")
                                img(src=user.avatar width="150px" class="mb-3")
                        if(user.fullName)
                            div(class="mb-4") Họ tên: <b>#{user.fullName}</b>
                        if(user.email)
                            div(class="mb-4") Email: <b>#{user.email}</b>
                        if(user.phone)
                            div(class="mb-4") Phone: <b>#{user.phone}</b>
                        if(user.status)
                            div(class="mb-4")
                                span Trạng thái: 
                                    if(user.status === "active")
                                        span(class="badge badge-success") Hoạt động 
                                    else
                                        span(class="badge badge-danger") Dừng hoạt động
                        a(
                            href=`/${prefixAdmin}/users/edit/${user.id}`
                            class="btn btn-sm btn-primary mr-1"
                        ) Sửa thông tin